<header class="intro">
  <br/><br/>
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Vanessa Colina</span>, a design leader, <a href="https://womentalkdesign.com/speakers/vanessa-colina" target="_blank">speaker</a>, <a href="https://www.invisionapp.com/inside-design/author/vanessa-colina" target="_blank">writer</a> and <a href="https://podcast.uxbackstage.com/" target="_blank">podcaster</a>, focused on creating experiences that respond to market needs. I'm currently dedicated to <a href="https://www.uxbackstage.com" target="_blank">UX Backstage</a>, bridging the gap between business and design, and curating TechStar's global digest for <a href="http://design.startupdigest.com" target="_blank">Design</a>.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://twitter.com/vcolinau" target="_blank" class="highlight-link">@vcolinau</a>
    </span>
  </h3>
</header>
